@model ContactsApp.Models.ContactListView

<nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item @(Model.TotalPages == 0 || Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item @(Model.TotalPages == 0 || Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.TotalPages == 0 || Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@(Model.CurrentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item @(Model.TotalPages == 0 || Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@Model.TotalPages" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
    </ul>
</nav>